body {
    background-color: rgb(241, 233, 233);
  }

  .divimg {
    float: left;
    vertical-align: top;
    height: 426px;
    width: 325px;
    margin: 7px 7px 7px 7px;
    padding: 5px;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
  }

  .container .header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    width: 100%;
    text-align: left;
    line-height: 75px;
    font-size: 50px;
  }

  .container .box {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
    margin: 0 5px 0 0;
  }

  .container .box2 {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 50px;
    font-size: 60px;
    font-weight: 200;
    margin: 15px;
  }

  .container .footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    font-size: 15px;
  }
