* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #777777;
}

.para {
    padding: 10px;
    display: flex;
}

header {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100vw;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #cccccc;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;+
    visibility: hidden;
    line-height: 0;
    width:0;
}

.nameblock {
    margin-left: 18%;
    margin-top: 2.5%;
    float: left;
    padding: 0px 15px 5px 15px; 
}

h1 {
    background-color: #4aaaa5;
    padding: 30px;
    margin-bottom: -5px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

a.navlink:link
{
   color: #777777;
   text-decoration: none;
}

a.navlink:hover
{
    color: red;
    text-decoration: none;
}

a.navlink:visited
{
    color: #777777;
    text-decoration: none;
}

nav {
    float: right;
    padding-top: 6%;
    margin-right: 21%;
}

.text {
    background-color: #ffffff;
    border: 1px #cccccc;
    width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.title {
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: auto;
    border-bottom-style: solid;
    border-color:#dddddd;
}

li {
    display: inline;
    padding-left: 15px;
}

.selfie {
    float: left;
    margin-left: 19px;
    margin-right: 15px;
    padding-bottom: 20px;
    height: 100%;
    width: auto;
}

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        border-top: 5px #4aaaa5 solid;
        background-color:#666666;
        color: white;
        text-align: center;
        font-size: 75%;
}
